Package: com.eamontracey.ifunnier
Name: iFunnier Remastered
Version: 2.0
Architecture: iphoneos-arm64
Description: (Sideloadable) Block ads, save any content, and more on iFunny.
Maintainer: Mini
Author: Mini
Section: Tweaks
