Package: com.eamontracey.ifunnier
Name: iFunnier
Version: 1.3
Architecture: iphoneos-arm
Description: (Sideloadable) Block ads, save any content, and more on iFunny.
Maintainer: Eamon Tracey
Author: Eamon Tracey
Section: Tweaks